
<footer class="footer mt-auto py-3 bg-dark text-white border-top shadow-sm">
    <div class="container text-center">
        <small>
            &copy; 2025 - Pro Manage One - (COMP 2139 ICE 3) - Made By:
            <a asp-area="" asp-controller="Home" asp-action="About" class="text-info text-decoration-none">
                Henrique Custodio
            </a>
        </small>
    </div>
</footer>
